
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400;700&family=Poppins:wght@200;300;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400;700&family=Orbitron&family=Poppins:wght@200;300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color:transparent;
    border-bottom: 0.3px solid #ccc;
  }
  
  .navbar-logo img {
    height: 80px;
    z-index: 9999;
  }
  
  .navbar-menu-icon {
    display: none;
    cursor: pointer;
  
  }
  .card.hidden{
    display: none;
  }
  .fa{
    margin-right: 10px;
  }
  .fa-solid {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .navbar-menu-icon span {
    display: block;
    height: 2px;
    width: 25px;
    margin-bottom: 5px;
    background-color: white;
  }
  .mesLiens {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  .navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: 'play', serif;
    font-family: 'Orbitron', serif;
  }
  
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-links li a:hover {
    color: #0077c2;
  }
  
  .navbar-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin-top: 20px; */
  }
  .navbar-buttons.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .navbar-links li {
    margin: 10px 0;
  }
  
  .navbar-buttons button {
    padding: 10px;
    font-size: 16px;
    background-color: #0077c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .navbar-buttons button:hover {
    background-color: #005fa6;
  }



  @media screen and (max-width: 768px) {
    .navbar {
       padding: 0;
      }
    .navbar-links {
        list-style: none;
        position: absolute;
        background-color: #122746;
        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s ease left;
    }
    .navbar-links.active{
        left: 0%;
    }
  
    .navbar-links li {
      display: block;
     
    }
  
    .navbar-menu-icon {
      display: block;
      margin-right: 1.5em;
      z-index: 100000;
    }
  
    .navbar-buttons {
      display: block;
      margin: 10px 0;
    }
    
    .navbar-buttons button {
      display: none;
    }
    .navbar-buttons.active button {
        display: block;
        margin: 10px 0;
      }
    .navbar-logo{
        z-index: 1000;
    }

   
     
      
  }
  