*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
  }
  
  form {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="file"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    
    input[type="submit"]:hover {
      background-color: #3e8e41;
    }
    
    label {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    .error {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }
    nav {
        background-color: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        color: #fff;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
      }
      
      nav a:hover {
        background-color: #555;
      }
      
      .userPic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      

      .hero {
        background-image: url('chemin/vers/image-de-fond.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .hero-content {
        text-align: center;
        color: #fff;
      }
      
      .hero-content h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: black;
      }
      
      .hero-content p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: black;
      }
      
      .btn {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: #fff;
        color: #333;
        border-radius: 3px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.2s ease-in-out;
      }
      
      .btn:hover {
        background-color: #333;
        color: #fff;
      }
      

      footer {
        position: relative;
       margin-bottom: 0;
        left: 0;
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        color: #666666;
      }
      