@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400;700&family=Poppins:wght@200;300;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400;700&family=Orbitron&family=Poppins:wght@200;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
  }
  
  form {
      max-width: 500px;
      margin: 50px auto;
      padding: 20px;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="file"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    
    input[type="submit"]:hover {
      background-color: #3e8e41;
    }
    
    label {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    
    
    .error {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }
    nav {
        width: 100%;
        /* position: fixed; */
        background-color: #00235B;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        color: #fff;
     
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
        font-family: 'Orbitron', serif;
      }
      
      nav a:hover {
        background-color: #BAD7E9;
        border-radius: 5%;
        color: #00235B;
      }
      .logo:hover{
        background-color: transparent;
      }
      
      .userPic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      

      .hero {
        /* background-image: url('./asset/images/croisson.jpeg'); */
        background-color: #FCFFE7;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .hero-content {
        text-align: center;
        color: #fff;
      }
      
      .hero-content h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: black;
        font-family: 'Montserrat',sans-serif;
        
        

      }
      
      .hero-content p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        color: black;
        font-family: 'Montserrat',sans-serif;
      }
      
      .btn {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: #D6E4E5;
        color: #333;
        border-radius: 3px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.2s ease-in-out;
        font-family: 'Orbitron', serif;
      }
      
      .btn:hover {
        background-color: #0B2447;
        color: #fff;
        transform: scale(1.1);
      }
      

      footer {
       background-color: #00235B;
        color: #fff;
        padding: 1rem;
        font-family: 'Montserrat',sans-serif;
      }
      
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .icons a {
        margin-right: 1rem;
        color: #fff;
        font-size: 1.2rem;
      }
      
      .links a {
        color: #fff;
        text-decoration: none;
        margin-right: 1rem;
      }
      
      .links a:last-child {
        margin-right: 0;
      }

/* affichage de mes utilisateurs */


table {
  border-collapse: collapse;
  width: 90%;
  border: solid 1px black;
  margin: auto;
  
 
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #0B2447;
  color: white;
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
.deleteBtn{
  width: 100%;
  background-color: #E21818; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  border: none; /* Supprime la bordure */
  padding: 10px 20px; /* Ajoute un espace entre le texte et la bordure */
  border-radius: 5px; /* Arrondit les coins */
  cursor: pointer;
}

/* Style quand le bouton est survolé */
.delete-btn:hover {
  background-color: #990000; 
}

/* Style quand le bouton est cliqué */
.delete-btn:active {
  background-color: #660000; 
}
.searchBtn{
  background-color: #007bff; 
  color: #ffffff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}
.searchAnnul{
  background-color:  #E21818; 
  color: #ffffff;
  border: none; 
  padding: 10px 20px;
  border-radius: 5px; 
  cursor: pointer;
}
.icon:hover{
  animation: spin 2s linear infinite;
}
/********* Animations ******/

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


      /* Styles pour la version mobile */
@media screen and (max-width: 600px) {
  
}
